h1 {
    color: rgb(255, 0, 85);
    font-size: 3em;
    text-decoration: underline;
 }



 li {
    margin: 5px;
    padding: 10px;
 }

 ol li {
color: red;
 }

li {
    color: green;
}
 
 #nav {
    background: lightgray;
    overflow: auto;
 }

 #nav li {
    float: left;
    padding: 10px;
}

#nav li:hover {
    background: gray;
 }
